<!DOCTYPE html>
<html lang="en">
    <title>Free Logo | X5 Project</title>
    <link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'><link rel="stylesheet" href="./style.css">
 </head>
 <body>
<div class="layout has-sidebar fixed-sidebar fixed-header">
  <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
    <div class="image-wrapper"> 
    </div>
    <div class="sidebar-layout">
      <div class="sidebar-header">
        <span style="text-transform: uppercase; font-size: 15px; letter-spacing: 3px; font-weight: bold; ">X5 Project</span>
      </div>
      <div class="sidebar-content">  
         
                 <nav class="menu open-current-submenu">
          <ul>          
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <span>(1)</span>
                </span>
                <span class="menu-title">TextPro</span>
                <span class="menu-suffix">(150)</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item"><a href="/api/textpro?number=1&text=Yourtext">
                    <span class="menu-title">1 ➱ blue</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=2&text=Yourtext">
                    <span class="menu-title">2 ➱ pink candy</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=3&text=Yourtext">
                    <span class="menu-title">3 ➱ orange</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=4&text=Yourtext">
                    <span class="menu-title">4 ➱ Bronze</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=5&text=Yourtext">
                    <span class="menu-title">5 ➱ silver</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=6&text=Yourtext">
                    <span class="menu-title">6 ➱ purple</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=7&text=Yourtext">
                    <span class="menu-title">7 ➱ blue2</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=8&text=Yourtext">
                    <span class="menu-title">8 ➱ golden</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=9&text=Yourtext">
                    <span class="menu-title">9 ➱ Hot</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=10&text=Yourtext">
                    <span class="menu-title">10 ➱ purple2</span></a></li>  
                   <li class="menu-item"><a href="/api/textpro?number=11&text=Yourtext">
                    <span class="menu-title">11 ➱ rainbow</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=12&text=Yourtext">
                    <span class="menu-title">12 ➱ light</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=13&text=Yourtext">
                    <span class="menu-title">13 ➱ wood</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=14&text=Yourtext">
                    <span class="menu-title">14 ➱ red</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=15&text=Yourtext">
                    <span class="menu-title">15 ➱ biscuit</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=16&text=Yourtext">
                    <span class="menu-title">16 ➱ abstragold</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=17&text=Yourtext">
                    <span class="menu-title">17 ➱ metal</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=18&text=Yourtext">
                    <span class="menu-title">18 ➱ fruit</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=19&text=Yourtext">
                    <span class="menu-title">19 ➱ cold</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=20&text=Yourtext">
                    <span class="menu-title">20 ➱ marble</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=21&text=Yourtext">
                    <span class="menu-title">21 ➱ blodus</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=22&text=Yourtext">
                    <span class="menu-title">22 ➱ smoke</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=23&text=Yourtext">
                    <span class="menu-title">23 ➱ orange</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=24&text=Yourtext">
                    <span class="menu-title">24 ➱ bold</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=25&text=Yourtext">
                    <span class="menu-title">25 ➱ breakwall</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=26&text=Yourtext">
                    <span class="menu-title">26 ➱ rain</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=27&text=Yourtext">
                    <span class="menu-title">27 ➱ fonttext</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=28&text=Yourtext">
                    <span class="menu-title">28 ➱ greenneon</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=29&text=Yourtext">
                    <span class="menu-title">29 ➱ colour blur</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=30&text=Yourtext">
                    <span class="menu-title">30 ➱ Demand</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=31&text=Yourtext">
                    <span class="menu-title">31 ➱ road</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=32&text=Yourtext">
                    <span class="menu-title">32 ➱ neon</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=33&text=Yourtext">
                    <span class="menu-title">33 ➱ 3dbox</span></a></li>
                   <li class="menu-item"><a href="/api/textpro?number=34&text=Yourtext">
                    <span class="menu-title">34 ➱ nightmoon</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=35&text=Yourtext">
                    <span class="menu-title">35 ➱ neon2</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=36&text=Yourtext">
                    <span class="menu-title">36 ➱ bloodtext</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=37&text=Yourtext">
                    <span class="menu-title">37 ➱ Hacklogo</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=38&text=Yourtext">
                    <span class="menu-title">38 ➱ bread</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=39&text=Yourtext">
                    <span class="menu-title">39 ➱ logofish</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=40&text=Yourtext">
                    <span class="menu-title">40 ➱ strawberry</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=41&text=Yourtext">
                    <span class="menu-title">41 ➱ chocolate</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=42&text=Yourtext">
                    <span class="menu-title">42 ➱ colourglass</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=43&text=Yourtext">
                    <span class="menu-title">43 ➱ purpleglass</span></a></li>
                   <li class="menu-item"><a href="/api/textpro?number=44&text=Yourtext">
                    <span class="menu-title">44 ➱ jewelry</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=45&text=Yourtext">
                    <span class="menu-title">45 ➱ jewelry2</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=46&text=Yourtext">
                    <span class="menu-title">46 ➱ greenjal</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=47&text=Yourtext">
                    <span class="menu-title">47 ➱ rainbow 2</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=48&text=Yourtext">
                    <span class="menu-title">48 ➱ robot</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=49&text=Yourtext">
                    <span class="menu-title">49 ➱ captain</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=50&text=Yourtext">
                    <span class="menu-title">50 ➱ purple shiny</span></a></li>
                  <li class="menu-item"><a href="/api/textpro?number=51&text=Yourtext">
                    <span class="menu-title">51 ➱ Blue Glass</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=52&text=Yourtext">
                    <span class="menu-title">52 ➱ Orange Glass</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=53&text=Yourtext">
                    <span class="menu-title">53 ➱ Yellow Glass</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=54&text=Yourtext">
                    <span class="menu-title">54 ➱ Lava Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=55&text=Yourtext">
                    <span class="menu-title">55 ➱ Rock Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=56&text=Yourtext">
                    <span class="menu-title">56 ➱ Pridot Stone</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=57&text=Yourtext">
                    <span class="menu-title">57 ➱ Decorate Purple</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=58&text=Yourtext">
                    <span class="menu-title">58 ➱ Denime</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=59&text=Yourtext">
                    <span class="menu-title">59 ➱ Steel</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=60&text=Yourtext">
                    <span class="menu-title">60 ➱ Gold Foil Ballon</span></a></li>  
                   <li class="menu-item"><a href="/api/textpro?number=61&text=Yourtext">
                    <span class="menu-title">61 ➱ Green Foil Ballon</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=62&text=Yourtext">
                    <span class="menu-title">62 ➱ Purple Foil Ballon</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=63&text=Yourtext">
                    <span class="menu-title">63 ➱ Skeleton</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=64&text=Yourtext">
                    <span class="menu-title">64 ➱ Fireworks Sparkle</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=65&text=Yourtext">
                    <span class="menu-title">65 ➱ Natural Leaves</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=66&text=Yourtext">
                    <span class="menu-title">66 ➱ Wicker</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=67&text=Yourtext">
                    <span class="menu-title">67 ➱ Logo Joker</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=68&text=Yourtext">
                    <span class="menu-title">68 ➱ Wolf Logo</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=69&text=Yourtext">
                    <span class="menu-title">69 ➱ Lion Logo</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=70&text=Yourtext">
                    <span class="menu-title">70 ➱ Metal Dark Gold</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=71&text=Yourtext">
                    <span class="menu-title">71 ➱ Holloween Fire</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=72&text=Yourtext">
                    <span class="menu-title">72 ➱ Frosted Glass Blood Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=73&text=Yourtext">
                    <span class="menu-title">73 ➱ Christmas Card</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=74&text=Yourtext">
                    <span class="menu-title">74 ➱ 3d Metal Galaxy</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=75&text=Yourtext">
                    <span class="menu-title">75 ➱ 3d Metal Gold</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=76&text=Yourtext">
                    <span class="menu-title">76 ➱ 3d Metal Rose Gold</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=77&text=Yourtext">
                    <span class="menu-title">77 ➱ 3d Metal Silver</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=78&text=Yourtext">
                    <span class="menu-title">78 ➱ New Year Card Firework</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=79&text=Yourtext">
                    <span class="menu-title">79 ➱ New Year Card 3d Name</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=80&text=Yourtext">
                    <span class="menu-title">80 ➱ Neon Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=81&text=Yourtext">
                    <span class="menu-title">81 ➱ Deluxe Gold</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=82&text=Yourtext">
                    <span class="menu-title">82 ➱ Glossy Carbon</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=83&text=Yourtext">
                    <span class="menu-title">83 ➱ 3d Holographic</span></a></li>
                   <li class="menu-item"><a href="/api/textpro?number=84&text=Yourtext">
                    <span class="menu-title">84 ➱ Minion Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=85&text=Yourtext">
                    <span class="menu-title">85 ➱ 1970 Effect</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=86&text=Yourtext">
                    <span class="menu-title">86 ➱ Neon Light With Galaxy</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=87&text=Yourtext">
                    <span class="menu-title">87 ➱ Metal Dark Gold</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=88&text=Yourtext">
                    <span class="menu-title">88 ➱ Glue Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=89&text=Yourtext">
                    <span class="menu-title">89 ➱ Sand Summery</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=90&text=Yourtext">
                    <span class="menu-title">90 ➱ Sand Engraved</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=91&text=Yourtext">
                    <span class="menu-title">91 ➱ Sand Writing</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=92&text=Yourtext">
                    <span class="menu-title">92 ➱ Sand Summer Beach</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=93&text=Yourtext">
                    <span class="menu-title">93 ➱ Cloud Text</span></a></li>
                   <li class="menu-item"><a href="/api/textpro?number=94&text=Yourtext">
                    <span class="menu-title">94 ➱ Critsmas Snow</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=95&text=Yourtext">
                    <span class="menu-title">95 ➱ Grafity Art</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=96&text=Yourtext">
                    <span class="menu-title">96 ➱ Underwater</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=97&text=Yourtext">
                    <span class="menu-title">97 ➱  WaterColor</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=98&text=Yourtext">
                    <span class="menu-title">98 ➱ Multicolor Paper</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=99&text=Yourtext">
                    <span class="menu-title">99 ➱ 3d Glossy Metal</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=100&text=Yourtext">
                    <span class="menu-title">100 ➱ 3d Gradient</span></a></li>
                  <li class="menu-item"><a href="/api/textpro?number=101&text=Yourtext">
                    <span class="menu-title">101 ➱ Art Paper</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=102&text=Yourtext">
                    <span class="menu-title">102 ➱ Broken Glass</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=103&text=Yourtext">
                    <span class="menu-title">103 ➱ Cracked Surface</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=104&text=Yourtext">
                    <span class="menu-title">104 ➱ Harry Potter</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=105&text=Yourtext">
                    <span class="menu-title">105 ➱ Impressive Glass</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=106&text=Yourtext">
                    <span class="menu-title">106 ➱ 3d Neon Light</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=107&text=Yourtext">
                    <span class="menu-title">107 ➱ 3d Stone Cracked</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=108&text=Yourtext">
                    <span class="menu-title">108 ➱ Thunderstorm</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=109&text=Yourtext">
                    <span class="menu-title">109 ➱ Berry</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=110&text=Yourtext">
                    <span class="menu-title">110 ➱ Transformer</span></a></li>  
                   <li class="menu-item"><a href="/api/textpro?number=111&text=Yourtext">
                    <span class="menu-title">111 ➱ Green Horror</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=112&text=Yourtext">
                    <span class="menu-title">112 ➱ Advance Glow</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=113&text=Yourtext">
                    <span class="menu-title">113 ➱ Neon Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=114&text=Yourtext">
                    <span class="menu-title">114 ➱ Critsmas Holiday</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=115&text=Yourtext">
                    <span class="menu-title">115 ➱ 3d Critsmas</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=116&text=Yourtext">
                    <span class="menu-title">116 ➱ Critsmas Candy Cane</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=117&text=Yourtext">
                    <span class="menu-title">117 ➱ Critsmas Tree</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=118&text=Yourtext">
                    <span class="menu-title">118 ➱ Critsmas Gift</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=119&text=Yourtext">
                    <span class="menu-title">119 ➱ Road Warning</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=120&text=Yourtext">
                    <span class="menu-title">120 ➱ Horror Blood</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=121&text=Yourtext">
                    <span class="menu-title">121 ➱ 3d Sci-fi</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=122&text=Yourtext">
                    <span class="menu-title">122 ➱ 3d Sci-fi 2</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=123&text=Yourtext">
                    <span class="menu-title">123 ➱ 3d Gradient</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=124&text=Yourtext">
                    <span class="menu-title">124 ➱ Plastic Bag</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=125&text=Yourtext">
                    <span class="menu-title">125 ➱ Space Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=126&text=Yourtext">
                    <span class="menu-title">126 ➱ Robot R2</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=127&text=Yourtext">
                    <span class="menu-title">127 ➱ Predot Stone</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=128&text=Yourtext">
                    <span class="menu-title">128 ➱ Gold Foil Ballon</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=129&text=Yourtext">
                    <span class="menu-title">129 ➱ Green Foil Ballon</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=130&text=Yourtext">
                    <span class="menu-title">130 ➱ Koi Fish</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=131&text=Yourtext">
                    <span class="menu-title">131 ➱ Neon Light</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=132&text=Yourtext">
                    <span class="menu-title">132 ➱ Wolf Logo</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=133&text=Yourtext">
                    <span class="menu-title">133 ➱ 3d Metal</span></a></li>
                   <li class="menu-item"><a href="/api/textpro?number=134&text=Yourtext">
                    <span class="menu-title">134 ➱ Summury Sand</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=135&text=Yourtext">
                    <span class="menu-title">135 ➱ Sand 3D</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=136&text=Yourtext">
                    <span class="menu-title">136 ➱ Blue Gem</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=137&text=Yourtext">
                    <span class="menu-title">137 ➱ Biscuit</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=138&text=Yourtext">
                    <span class="menu-title">138 ➱ Chocolate Cake</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=139&text=Yourtext">
                    <span class="menu-title">139 ➱ Pink Candy</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=140&text=Yourtext">
                    <span class="menu-title">140 ➱ Honey Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=141&text=Yourtext">
                    <span class="menu-title">141 ➱ Bagel Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=142&text=Yourtext">
                    <span class="menu-title">142 ➱ Strawberry</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=143&text=Yourtext">
                    <span class="menu-title">143 ➱ Bread</span></a></li>
                   <li class="menu-item"><a href="/api/textpro?number=144&text=Yourtext">
                    <span class="menu-title">144 ➱ 3d Orange Juice</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=145&text=Yourtext">
                    <span class="menu-title">145 ➱ Berry Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=146&text=Yourtext">
                    <span class="menu-title">146 ➱ Eoroded metal</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=147&text=Yourtext">
                    <span class="menu-title">147 ➱  Bronze Glitter</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=148&text=Yourtext">
                    <span class="menu-title">148 ➱ Marble Text</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=149&text=Yourtext">
                    <span class="menu-title">149 ➱ Hexa Golden</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=150&text=Yourtext">
                    <span class="menu-title">150 ➱ Purple Glitter</span></a></li>   
                </ul>
         </nav>        
         
      </div>
      <div class="sidebar-header"><a href="https://www.facebook.com/100000852187941" style="color: #b3b8d4"><span>© X5 Project</span><a></div>
    </div>
  </aside>
  <div id="overlay" class="overlay"></div>
  <div class="layout">
    <header class="header">
      <a id="btn-collapse" href="#">
        <i class="ri-menu-line ri-xl"></i></a>
      <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
        <i class="ri-menu-line ri-xl"></i></a>
       <h1>X5 API</h1>
    </header>
    <main class="content">
      <div>    
      <div class="card">
        <h2>X5 API</h2>
      </div>   
      <div class="card1">
        <h4>WELCOME TO X5 </h4>
        <img src="https://i.ibb.co/X4d9gDB/kevin-laminto-7-Pq-RZK6rba-E-unsplash.jpg">
      </div>
      <div class="card2">  
      <h3>L. Siwoo <a href="https://www.facebook.com/100000852187941" style="color: #b3b8d4">Facebook</a></h3>    
      <div>          
      </div> 
    </main>
    <div class="overlay"></div>
  </div>
</div>
<!-- partial -->
  <script src='https://unpkg.com/@popperjs/core@2'></script><script  src="./script.js"></script>

</body>
    </html>